* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(./bks.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    margin: 0 auto;
    padding: 16px;
    max-width: 450px;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 24px;
    backdrop-filter: blur(20px);
}

.container {
    margin: 0 auto;
    padding: 24px;
    max-width: 640px;
    margin-top: 280px;
    justify-content: center;
    font-size: 24px;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 24px;
    backdrop-filter: blur(20px);
}

p {
    display: block;
    margin: 0 138px;
    font-weight: bolder;
}

.images {
    display: block;
    margin: 0 138px;
    margin-top: 42px;
}

img {
    padding-left: 7px;
}

.tdl-img {
    height: 150px;
}

a {
    text-decoration: none;
}